@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Nunito:wght@700&display=swap");
@import "./sassStyles/_variables.scss";

body {
  background-color: $page-background-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

nav,
a {
  display: block;
}

body,
#root,
html {
  line-height: 1;
  height: 100%;
}


